# Go
*.exe
*.exe~
*.dll
*.so
*.dylib

# Binaries for programs and plugins
bin/
backend/main

# Test binary, built with `go test -c`
*.test

# Output of the go coverage tool, specifically when run with the -o option
*.out

# Dependency directories (remove the comment below to include it)
# vendor/

# Node.js
node_modules
npm-debug.log
yarn-error.log

# build output
dist
build

.env
